# Firebase client
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCChIhrPC0No0LH_mFbyRWu8ra3gukWTTQ"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="portfolio-tracker-capstone.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="portfolio-tracker-capstone"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="portfolio-tracker-capstone.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="956989338715"
NEXT_PUBLIC_FIREBASE_APP_ID="1:956989338715:web:91c8bceb80d1fedd80fb7e"

# Firebase Admin
FIREBASE_ADMIN_PROJECT_ID=your_project_id
FIREBASE_ADMIN_CLIENT_EMAIL=your_service_account@your_project.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

# Alpha Vantage
ALPHA_VANTAGE_KEY=your_alpha_vantage_key

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000